.collection-carousel__container {
  width: 500px;
  height: 500px;
}

.collection-carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
}

.collection-carousel__swiper {
  overflow: hidden;
}

.collection-carousel .swiper-slide {
  height: auto;
}
